In [2]:
lst =[]
print(type(lst))

<class 'list'>

In [ ]:
list.

In [6]:
names=["Himamanth","King","Dhoni","Demo","Pspk","Jhonny Depp"]
print(names)

['Himamanth', 'King', 'Dhoni', 'Demo', 'Pspk', 'Jhonny Depp']

In below code -::-1 gives list items in reverse
               ::-2 gives rev jump of 2

In [8]:
print(names[::-1])
print(names[::-2])

['Jhonny Depp', 'Pspk', 'Demo', 'Dhoni', 'King', 'Himamanth']
['Jhonny Depp', 'Demo', 'King']

In [5]:
print(names[0])
print(names[1])

Himamanth
King

In [10]:
names.sort()
print(names)

['Demo', 'Dhoni', 'Himamanth', 'Jhonny Depp', 'King', 'Pspk']

In [16]:
popped_names=names.pop()
print(popped_names)
print(names)

Dhoni
['Demo']

In [26]:
# list Comprehension
x=[x**2 for x in range(1,10)]
print(x)


y=[y**2 for y in range(10)]
print(y)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

<!-- noraml syntax for LIST comprehension -->
syntax ==[Expression for item(any x,y) in iterable(datatype)]

<!-- with Condition -->
syntax ==[Expression for item(any x,y) in iterable(datatype) if condition]

<!-- Nested list -->
syntax ==[Expression for item(any x,y) in item(x) iterable1(datatype)item(x) iterable2]

In [18]:
# Normal flow without list comprehension
lst=[]
for x in range(10):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
even_Numbers=[num for num in range(10) if (num%2==0)]
print(even_Numbers)

[0, 2, 4, 6, 8]

In [3]:
numbers=tuple([1,2,2,3,4,5,6])
numbers
print(type(numbers))

<class 'tuple'>